body{
    margin: 0;
    padding: 0;
    background-color: green;
    height: 100%;
    width: 100%;
 }
 .one{ 
    background: green;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
     width:300px;
     height: 100px;
    
   
}
.tow{
    background: orange;
    display: flex;
    flex-direction:row;
    width:300px;
        height: 100px;
      justify-content: flex-start;
}
.three{
    background: lightblue;
    display: flex;
    flex-direction:row;
    width:300px;
    height: 100px;
      justify-content: flex-start;
}
.four{
    background: purple;
    display: flex;
    flex-direction:row;
    width:300px;
    height: 100px;
     justify-content: flex-start;
}
.five{
    background: black;
    display: flex;
    flex-direction:row;
    width:300px;
    height: 100px;
    justify-content: flex-start;
}
.six{
    background: #a6a6a4;
    display: flex;
    flex-direction:row;
    width:300px;
    height: 100px;
    justify-content: flex-start;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.text{
    font-size: 30px;
    color: white;
}
p{
    margin: auto;
    
}
.chat{
    display: flex;
    background-color: #e8e8e8;
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 80px;
}

h1{
  margin: auto;
 font-size: 64px;
}

.imgs {
    display: flex;
    flex-wrap: wrap;

  }
  img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
  }
  a{
      text-decoration: none;
  }
